[submodule "01-Project"]
	path = 01-Project
	url = https://github.com/anirudha-8/Drum-Kit.git
[submodule "02-Project"]
	path = 02-Project
	url = https://github.com/anirudha-8/Animated-Clock.git
[submodule "03-Project"]
	path = 03-Project
	url = https://github.com/anirudha-8/css-variables-manipulation.git
